{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Cell</title>

    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

    <style>
        .img{
            width: 600px;
            margin-left: 350px;
            height: 400px;
        }

        h4{
            margin-left: 400px;
            font-size: 100px;
            position: absolute;
            left: 190px;
            top : 100px
        }
        h1{
            margin-left: 400px;
            font-size: 100px;
            position: absolute;
            left: 510px;
            top : 80px
        }

        .weight{
            margin: 100px;
            
            
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse" >
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">COAL INDIA</a> 
            </div>
            <ul class="nav navbar-nav navibar">
              <li class="active"><a onclick="location.href='{% url 'home' %} '">Home</a></li>
                <li><a onclick="location.href='{% url 'signIn' %} '">Login</a></li>
                <li><a onclick="location.href='{% url 'home' %} '">Features</a></li>
                <li><a onclick="location.href='{% url 'home' %} '">Contact Us</a></li>
            </ul>
          </div>
        </nav>
      </div>
    <div class="weight">
        <h4 id="weight" style="padding-left: 60px;"></h4><h1 style="display: inline;">gm</h1>
        <!--<h4 style="text-align: center;">Time</h4>
        <h1 id ="time"></h1>-->
        <img class="img" src="{% static 'images/truck 1.jpeg' %}"> 
    </div>

    <!--<div class="col-md-12">
      <h4 style="text-align: center;">Statitics of Trucks</h4>
      <div id="chart" style="width:80%; height:500px; margin:0 auto;"></div>
  </div>-->

 

    <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- include jquery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--https://www.youtube.com/watch?v=6TXtsTutoQQ-->
<script>
  $(document).ready(function(){
    setInterval(function(){
      $.ajax({
        type : 'GET',
        url : "{% url 'getUsers' %}",
        success: function(response){
          console.log(response.users.time);
          weight = response.users.weight
          if(weight< 200 && weight>20  ){
            window.alert("Weight below thershold"+weight)
          }
          $("#weight").text(response.users.weight);
          $("#time").text(response.users.time);
        },
        error:function(response){
          alert("No data")
        }
      });
    },500);
  });

  


  JSC.Chart('chart', {
            debug: true,
            legend_position: 'bottom right',
            type: 'area spline',
            defaultSeries: { shape_opacity: 0.5 },
            xAxis: {
                crosshair_enabled: true,
                scale: { type: 'time' }
            },
            title_label_text: 'Number of trucks',
            title_label_color: "orange",
            //yAxis: { formatString: 'c' }, 
            yAxis_label_color: "#FF0000",
            series: [
                {
                    name: 'Truck entered',
                    points: [
                        ['1/1/2020', 1005],
                        ['2/1/2020', 3202],
                        ['3/1/2020', 1345],
                        ['4/1/2020', 2341],
                        ['5/1/2020', 1440],
                        ['6/1/2020', 1780]
                    ]
                },
                {
                    name: 'Truck Leave ',
                    points: [
                        ['1/1/2020', 2698],
                        ['2/1/2020', 2795],
                        ['3/1/2020', 1954],
                        ['4/1/2020', 2702],
                        ['5/1/2020', 1230],
                        ['6/1/2020', 1110]
                    ]
                }
            ]
        });
  
  </script>
</body>
</html>